.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif; 
    font-size: 16px;
    line-height: 20px;
}

.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: 
    position: relative;
    background-image: url(/images/background_header.svg);
    }


.nav {
    display:flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}


.nav__links {
    display:flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style-type: none;
}

.nav__link {
    color:#000;
    text-decoration: none;
}

.header__title {
    max-width:  729px;
    font-family: 'Inter', 'Arial', serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    margin: 183px 0 0;
    letter-spacing: -0.6px;
}
    
.header__description {
    max-width: 683px;
    font-family: "Noto Serif" 'Times New Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
}

.header__span-accent {
    font-style: italic;
    font-family: 'NOTO SERIF', 'Times New Roman';
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    display:block;
    color: #2F80ED;
}

 .header__image {
    position: absolute;
    top: 124px;
    width: 646px;
    height: 568px;
    right: 5px;
}

 .header__footer {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", 'Arial', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#838383;
    margin-top: auto;
    }

    .header__paragraph {
    margin: 0;
    font-family: "Inter",  'Arial', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#838383;

    }

    .recipes__title {
        max-width: 500px;
        font-family: 'Inter' 'Arial', serif;
        font-weight: 500;
        font-style: normal;
        font-size: 44px;
        line-height: 52px;
    }

   .recipes {
        padding: 100px 80px 215px;
        font-family: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        background-color: #0a2750;
        color: #fff;
        background-image: url(/images/background_recipes.svg);
    }

      .recipes__videos {
        width: 480px;
        height: 273px;
        font-family: 'Inter', "Arial", serif;
        font-style: normal;
        font-size: 20px;
        font-weight: 500px;
        line-height: 30px;
        margin: 0 auto;
        display: flex;
        display: box;
             
    }

    .recipes__subtitle {
        max-width: 438px;
        margin-top: 24px;
        margin-left: 80px;
        margin-bottom: 80px;

    }